:root {
  --background-rgb: 2, 6, 23;
  --background-light-rgb: 30, 41, 59;
  --border-rgb: 255, 255, 255;
  --border: 1px solid rgb(var(--border-rgb) / 20%);
  --hyperplexed-main-rgb: 41, 121, 255;
  --hyperplexed-main-light-rgb: 56, 182, 255;
  --hyperplexed-secondary-rgb: 42, 252, 152;
  --font-size: 0.75rem;
  --logo-size: calc(var(--card-size) * 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  background: rgb(var(--background-rgb));
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.card-track {
  width: 25vw;
  height: 100%;
  top: 0%;
  left: 2%;
  padding: 0, 5px;
  display: flex;
  align-items: center;
  position: relative;
  object-fit: scale-down;
}

.card-wrapper {
  width: 100%;
  position: relative;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  position: relative;
  margin: 1rem;
  border-radius: 1.5rem;
  overflow: hidden;
  cursor: pointer;
  width: 27vw;
  height: 75vh;
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 4;
}

.hi {
  position: absolute;
  width: 100%;
  height: 100%;
  mask-image: url("https://static.thenounproject.com/png/310005-200.png");
  mask-size: 100%;
  mask-repeat: no-repeat;
  background: radial-gradient(rgb(var(--hyperplexed-main-rgb)) 150%, rgb(var(--hyperplexed-main-light-rgb)) 50%, rgb(var(--hyperplexed-secondary-rgb)));
  mix-blend-mode: darken;
  pointer-events: none;
  z-index: 5;
  top: 50%;
  left: 50%;
  margin: -45% 0 0 -50%;
}

.card-gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  background: radial-gradient(rgba(255, 255, 255, 0.3) 25%, rgb(var(--background-light-rgb)) 100%, rgb(var(--background-rgb)));
  mix-blend-mode: darken;
  pointer-events: none;
  z-index: 3;
}

.card-letters {
  --x: 0px;
  --y: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  color: white;
  font-size: var(--font-size);
  font-weight: 500;
  word-wrap: break-word;
  opacity: 1;
  transition: opacity 400ms;
  scale: 1.03;
}

@media (max-width: 600px) {
  :root {
    --card-size: 340px;
  }

  .card {
    border-radius: 1rem;
  }
}
.row {
  display: flex;
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row span {
  position: relative;
  display: inline-block;
  margin: 30px 0px;
}

h2 {
  font-family: "Noto Sans", sans-serif;
  color: #D6D6D6;
}

.gate {
  display: inline-block;
  width: 300px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #377D6A;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 65px;
  transition: all 0.3s ease-in-out;
}
.gate::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
.gate + label {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 11px 5px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  font-size: 12px;
  background: rgb(var(--background-rgb));
  color: #D6D6D6;
  transition: all 0.4s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transform-origin: left bottom;
  z-index: 99;
}
.gate + label:before, .gate + label:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  background: rgb(var(--background-rgb));
  transform-origin: left bottom;
  transition: all 0.4s ease-in-out;
  pointer-events: none;
  z-index: -1;
}
.gate + label:before {
  background: rgb(var(--background-rgb));
  z-index: -2;
  right: 20%;
}

span:nth-child(2) .gate {
  text-indent: 85px;
}

span:nth-child(2) .gate:focus,
span:nth-child(2) .gate:active {
  text-indent: 0;
}

.gate:focus,
.gate:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.gate:focus::-webkit-input-placeholder,
.gate:active::-webkit-input-placeholder {
  color: #aaa;
}
.gate:focus + label,
.gate:active + label {
  transform: rotate(-66deg);
  border-radius: 3px;
}
.gate:focus + label:before,
.gate:active + label:before {
  transform: rotate(10deg);
}
