@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto+Condensed:wght@500&display=swap');
@font-face{
  src: url("https://fonts.cdnfonts.com/css/minecraftia");
  font-family: minecraftia;
}
:root {
  
  --colorUsernameGlow: 0px 0px 16.5px #800000;
  --usernameEffects: url(https://r2.guns.lol/sparkle_white.gif);
}

.skid {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100vh;
  min-width: 100vw;
}

.term {
  z-index: 1;
  background-color: black;
}

@media(hover: hover) {
  .hover {
    display: block;
  }
  .nothover {
    display: none;
  }
}

html {
  position: relative;
  overflow-x: hidden; 
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Satoshi', sans-serif !important;
  color: #fff;
}

a,
a:hover {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.profile-card-loc__icon #albumimage{
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    margin: 10px, 0px

}
.wrapper {
  width: 100%;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 50px 20px;
  padding-top: 100px;
  display: flex;
  display: flex;
  background-image: url("https://i0.wp.com/wallpapertag.com/wallpaper/full/8/7/6/861674-cool-dark-evil-wallpaper-2048x1365-meizu.jpg");
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .wrapper {
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
  }
}

.profile-card {
  width: 100%;
  min-height: 100px;
  margin: auto;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:1px solid rgba(255, 255, 255, 0.18);
  border-radius: 12px;
  max-width: 1280px;
  position: relative;
}
.profile-card.active .profile-card__cnt {
  filter: blur(6px);
}
.profile-card.active .profile-card-message,
.profile-card.active .profile-card__overlay {
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0.1s;
}
.profile-card.active .profile-card-form {
  transform: none;
  transition-delay: 0.1s;
}
.profile-card__img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  position: relative;
  z-index: 4;
}
@media screen and (max-width: 576px) {
  .profile-card__img {
    width: 120px;
    height: 120px;
  }
}
.profile-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.profile-card__cnt {
  margin-top: -35px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 40px;
  transition: all 0.3s;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
}
.profile-card__name {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 15px;
  background-image: var(--usernameEffects);
  text-shadow: var(--colorUsernameGlow);
  width: fit-content;
}
.profile-card__txt {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 15px;
}
.profile-card__txt strong {
  font-weight: 700;
}
.profile-card-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: #D2D2D2;
  margin-bottom: 24px;
  margin-top: 24px;
}
.profile-card-loc__icon {
  display: inline-flex;
  font-size: 27px;
  margin-right: 10px;
  color: #6944ff;
}
.profile-card-inf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 35px;
}
.profile-card-inf__item {
  padding: 10px 35px;
  min-width: 150px;
}
@media screen and (max-width: 768px) {
  .profile-card-inf__item {
    padding: 10px 20px;
    min-width: 120px;
  }
}
.profile-card-inf__title {
  font-weight: 700;
  font-size: 27px;
  color: #324e63;
}
.profile-card-inf__txt {
  font-weight: 500;
  margin-top: 7px;
}
.profile-card-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.profile-card-social__item {
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin: 15px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #405de6;
  box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
  position: relative;
  font-size: 21px;
  flex-shrink: 0;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .profile-card-social__item {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) {
  .profile-card-social__item:hover {
    transform: scale(1.2);
  }
}
.profile-card-social__item.facebook {
  background: linear-gradient(45deg, #324e63, #414447);
  box-shadow: 0px 4px 30px rgba(55, 75, 90, 0.6);
}
.profile-card-social__item.twitter {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
}
.profile-card-social__item.instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
}
.profile-card-social__item.behance {
  background: linear-gradient(45deg, #454fbf, #7289da);
  box-shadow: 0px 4px 30px rgba(27, 86, 231, 0.7);
}
.profile-card-social__item.github {
  background: linear-gradient(45deg, #333333, #626b73);
  box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
}
.profile-card-social__item.codepen {
  background: linear-gradient(45deg, #8e0000, #dc0a0a);
  box-shadow: 0px 4px 30px rgba(55, 75, 90, 0.6);
}
.profile-card-social__item.link {
  background: linear-gradient(45deg, #d5135a, #f05924);
  box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.6);
}
.profile-card-social .icon-font {
  display: inline-flex;
}
.profile-card-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
@media screen and (max-width: 576px) {
  .profile-card-ctr {
    flex-wrap: wrap;
  }
}
.profile-card__button {
  background: none;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 19px;
  margin: 15px 35px;
  padding: 15px 40px;
  min-width: 201px;
  border-radius: 50px;
  min-height: 55px;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .profile-card__button {
    min-width: 170px;
    margin: 15px 25px;
  }
}
@media screen and (max-width: 576px) {
  .profile-card__button {
    min-width: inherit;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    max-width: 300px;
  }
  .profile-card__button:last-child {
    margin-bottom: 0;
  }
}
.profile-card__button:focus {
  outline: none !important;
}
@media screen and (min-width: 768px) {
  .profile-card__button:hover {
    transform: translateY(-5px);
  }
}
.profile-card__button:first-child {
  margin-left: 0;
}
.profile-card__button:last-child {
  margin-right: 0;
}
.profile-card__button.button--blue {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
}
.profile-card__button.button--blue:hover {
  box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
}
.profile-card__button.button--orange {
  background: linear-gradient(45deg, #d5135a, #f05924);
  box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
}
.profile-card__button.button--orange:hover {
  box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
}
.profile-card__button.button--gray {
  box-shadow: none;
  background: #dcdcdc;
  color: #142029;
}
.profile-card-message {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 130px;
  padding-bottom: 100px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.profile-card-form {
  box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 35px;
  transform: scale(0.8);
  position: relative;
  z-index: 3;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .profile-card-form {
    max-width: 90%;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .profile-card-form {
    padding: 20px;
  }
}
.profile-card-form__bottom {
  justify-content: space-between;
  display: flex;
}
@media screen and (max-width: 576px) {
  .profile-card-form__bottom {
    flex-wrap: wrap;
  }
}
.profile-card textarea {
  width: 100%;
  resize: none;
  height: 210px;
  margin-bottom: 20px;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  padding: 15px 20px;
  color: #324e63;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  outline: none;
  transition: all 0.3s;
}
.profile-card textarea:focus {
  outline: none;
  border-color: #8a979e;
}
.profile-card__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(22, 33, 72, 0.35);
  border-radius: 12px;
  transition: all 0.3s;
}

.profile-card__img .card-status-online {
  position: relative;
  background: #3ba55d;
  border: 9px solid #2b2d31;
  border-radius: 50%;
  margin: -40px 7.5px;
  height: 45px;
  width: 45px;
  z-index: 999;
  float: right;
}
.profile-card__img .card-status-dnd {
    position: relative;
    background: #ed4245;
    border: 9px solid #2b2d31;
    border-radius: 50%;
    margin: -40px 7px;
    height: 45px;
    width: 45px;
    z-index: 99;
    float: right;
}
.profile-card__img .card-status-dnd:before{
  content: " ";
  width: 22px;
  margin: 11px 2px;
  position: absolute;
  border-bottom-color: #2b2d31;
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-radius: 8px;
}

.profile-card__img .card-status-idle {
    position: relative;
    background: #faa81a;
    border: 9px solid #2b2d31;
    border-radius: 50%;
    margin: -40px 7.5px;
    height: 45px;
    width: 45px;
    z-index: 99;
    float: right;
}

.profile-card__img .card-status-idle:before {
    content: "";
    width: 6px;
    height: 4px;
    margin: -2px;
    position: absolute;
    border-color: #2b2d31;
    border-width: 0.5em;
    border-style: solid;
    border-radius: 50%;
    background: #2b2d31;
}

.profile-card__img .card-status-offline {
    position: relative;
    background: #2b2d31;
    border: 9px solid #2b2d31;
    border-radius: 50%;
    margin: -40px 7.5px;
    height: 45px;
    width: 45px;
    z-index: 99;
    float: right;
}
.profile-card__img .card-status-offline:before {
    content: "";
    margin: -3px;
    width: 19px;
    height: 19px;
    position: absolute;
    border-color: #747f8d;
    border-width: 7px;
    border-style: solid;
    border-radius: 50%;
    background: #2b2d31;
}
.statetxt {
    font-family: Nunito;
    font-size: 24px;
}

.text-green-500{
    color: #3ba55d
}

.text-red-500{
    color: #ed4245
}

.text-yellow-500{
    color: #faa81a
}

.text-gray-500{
    color: #747f8d
}

.songtext {
    color: #FFFFFF
}

.profile_description {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
}

.hover {
  text-align: center;
  font-family: minecraftia;
}

.nothover {
  text-align: center;
  font-family: minecraftia;
}
  
